
<div style="
    width: 100%;
    height: 100%;
    color: white;
    background-color:red;
    font-family: sans-serif;
    font-weight: bold;">
    <div style="
        position: absolute;
        left: 25px;
        top: 10px;
        font-size: 100px;"><span>М</span></div>
    <div style="
        position: absolute;
        right: 25px;
        top: 10px;
        font-size: 100px;"><span>Т</span></div>
    <div style="
        position: absolute;
        right: 25px;
        bottom: 25px;
        font-size: 100px;"><span>С</span></div>
    <div style="
        position: absolute;
        left: 25px;
        bottom: 25px;
        font-size: 50px;"><span>ШАД</span></div>
    <div style="width: 300px;margin-left: auto;margin-right: auto;padding-top: 150px;">
        {% for filename in files %}
        <a href="{{ url_for('download_file', filename=filename) }}" style="color:white;">{{ filename }}</a><br />
        {% endfor %}
    </div>
    <div style="width: 300px;margin-left: auto;margin-right: auto;padding-top: 150px;">
        <a href="/" style="color:white;">Главная</a>
    </div>
</div>